
{% load static %}
{% include '_partials/_navbar.html' %}
<!DOCTYPE html>

<head>
<!-- Require meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6a748a1171.js" crossorigin="anonymous"></script>

    <!--
    <style>
      .breadcrumb{
              background: white;
              padding-left: 1;
              border-bottom: 1px solid black;
      }
      .breadcrumb a {
              color: black;
      }

    </style>
    -->
    <title>{% block title %}home{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}

</head>
<body>


    {% block link %}{% endblock %}

    <div class="container">
    {% block content %}
        {% endblock %}

    </div>

    <!-- Optional JavaScript -->
    <!--  JQuery first, then Popper.js, the Bootsrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/98a2688348.js" crossorigin="anonymous"></script>
</body>

</html5>
