{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container">
    <!-- bloque de titulo-->
    <div class="row mt-8">
        <div class="col-md-8 col-lg-10">
            <h2>Ingresar Desktop</h2>


        </div>
    </div>
    <!-- validacion para campos vacios o incorrectos -->
    {% bootstrap_messages %}
    <form class="" method="POST">
        <div class="col-md4 col-lg-6">
            {% csrf_token %}

            {% bootstrap_form form %}
        </div>
        <!--sistema de seguridad para evitar xss -->

    {% buttons %}
        <button type="submit" name="" class="btn-primary btn-lg" value="submit">
            <i class="far fa-edit"></i>Agregar Desktop
        </button>
        {% endbuttons %}
    </form>

    {% endblock %}


</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
