{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<html lang="es-cl">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Lista de Desktops</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    {% block extra_css %}
<style>
	.color_update_desktop {
		color: #009900;
		font-size: 22px;
	}
	.color_delete_desktop {
		color: #F51809;
		font-size: 18px;
	}
</style>
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inventories:index' %}"><i class="fas fa-home"></i></a></li>

        </ol>
    </nav>


<head>

    <div class="row mt-3">
        <div class="col-md-9 col-lg-10">
            <h3>Lista de Desktops</h3>
        </div>
    <div class="col-md-3 col-lg-2">
        {% if perms.inventories.add_desktop %}
        <a href="{% url 'inventories:create_desktop' %}" class="btn btn-success btn-block mt-3"><i class="fas fa-plus-square"></i> Agrega Desktop</a>

        {% endif %}
    </div>
    </div>
</head>
    <body>
    <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>id</th>
        <th>Model</th>
        <th>Price</th>
        <th>Status</th>
        <th>Issues</th>
        <th>Photo</th>
        <th></th>
      </tr>
    </thead>
    <tr>
    {% for item in desktops %}
        <tr>
            <td style="color: black">{{ item.id}}</td>
            <td style="color: black">{{ item.name }}</td>
            <td style="color: black">{{ item.price}}</td>
            <td style="color: black">{{ item.status }}</td>
            <td style="color: black">{{ item.issues }}</td>
            <td style="color: black"><img src="{{ item.photo.url }}" alt="" width="72" height="72"></td>
        <td>
            <div>

            </div>
            {% if perms.inventories.change_desktop %}
            <a href="{% url 'inventories:update_desktop' item.id %}"><i class="fas fa-edit color_update_desktop"></i></a>
            {% endif %}
            {% if perms.inventories.delete_desktop %}
            |
            <a href="{% url 'inventories:delete_desktop' item.id %}"><i class="fas fa-trash-alt color_delete_desktop"></i></a>
            {% endif %}
        </td>
        <tr>
    {% endfor %}
    </tr>
</table>
    {% if desktops.has_other_pages %}
      <ul class="pagination">
        {% if desktops.has_previous %}
          <li><a href="?page={{ desktops.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in desktops.paginator.page_range %}
          {% if desktops.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if desktops.has_next %}
          <li><a href="?page={{ desktops.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </body>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </html>
{% endblock %}