{% extends 'base.html' %}
{% load bootstrap4 %}

<html lang="es-cl">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

{% block extra_css %}
<style>
    .color_update_user {
        color: #009900;
        font-size: 18px;
    }
    .color_delete_user {
        color: #F51809;
        font-size: 18px;
    }
</style>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inventories:index' %}"><i class="fas fa-home"></i></a></li>
        </ol>
    </nav>
<head>

    <div class="row mt-3">
        <div class="col-md-9 col-lg-10">
            <h3>Lista de Usuarios</h3>
        </div>
    <div class="col-md-3 col-lg-2">
        {% if perms.inventories.add_user %}
        <a href="{% url 'inventories:create_user' %}" class="btn btn-success btn-block mt-3"><i class="fas fa-plus-square"></i> Agregar User</a>
        {% endif %}
    </div>
    </div>
</head>
    <body>
    <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rut</th>
        <th>Cargo</th>
        <th>Photos</th>
      </tr>
    </thead>
    <tr>
    {% for item in items %}
        <tr>
            <td style="color: black">{{ item.id }}</td>
            <td style="color: black">{{ item.name }}</td>
            <td style="color: black">{{ item.email }}</td>
            <td style="color: black">{{ item.rut }}</td>
            <td style="color: black">{{ item.cargo }}</td>
            <td style="color: black"><img src="{{ item.photo.url }}" alt="" width="72" height="72"></td>
        <td>
            {% if perms.inventories.change_user %}
            <a href="{% url 'inventories:update_user' item.id %}"><i class="fas fa-edit color_update_user"></i></a>
            {% endif %}
            {% if perms.inventories.delete_user %}
            |
            <a href="{% url 'inventories:delete_user' item.id %}"><i class="fas fa-trash-alt color_delete_user"></i></a>
            {% endif %}
        </td>
        <tr>
    {% endfor %}
    </tr>
</table>
    </body>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </html>
{% endblock %}