{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block content %}
<!DOCTYPE html>
<html5 lang="es-cl">

<head>
    <!-- Require meta tags-->
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="page-header">
  <h1>Inventary Page <small>...</small></h1>
</div>
<!-- 16:9 aspect ratio -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/desktop.jpg' %}" alt="..." width="400" height="200">
      <div class="caption">
        <h3>DESKTOPS</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/laptop.jpg' %}" alt="..." width="400" height="200">
      <div class="caption">
        <h3>LAPTOPS</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/mobiles.png' %}" alt="..." width="400" height="200">
      <div class="caption">
        <h3>MOBILES</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>id</th>
        <th>Model</th>
        <th>Price</th>
        <th>Status</th>
        <th>Issues</th>
        <th></th>
      </tr>
    </thead>
    <tr>
    {% for item in items %}
        <tr>
            <td style="color: black">{{ item.id}}</td>
            <td style="color: black">{{ item.name }}</td>
            <td style="color: black">{{ item.price}}</td>
            <td style="color: black">{{ item.status }}</td>
            <td style="color: black">{{ item.issues }}</td>

        <tr>
    {% endfor %}
    </tr>
</table>

</div>



<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> Todos los Derechos Reservados Tópicos II 2020 Dev Team&copy;
          <a class="link" style="color: #00ff80" href="https://gitlab.com/mandinga27/django-project-2">Git</a>
      </p>


    </div>
    <!-- /.container -->
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6a748a1171.js" crossorigin="anonymous"></script>
</body>


</html5>

{% endblock %}