{% extends "base.html" %}
<title>Update Laptop</title>
{% load bootstrap4 %}

{% block content %}

  {% bootstrap_messages %}

</head>

<body>
    <h2>Editar Laptop: </h2>

    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-save"></i> Edit
            </button>|
        <button href="{% url 'inventories:display_laptop' %}" class="btn btn-secondary btn-lg">Cancelar</button>
        {% endbuttons %}
    </form>
{% endblock %}
