{% extends "base.html" %}

<title>Update Mobile</title>
{% load bootstrap4 %}


{% block content %}
  {% bootstrap_messages %}

</head>


<body>
    <h2>Editar Usuario: </h2>

    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-save"></i> Edit
            </button>|
        <button href="{% url 'inventories:display_user' %}" class="btn btn-secondary btn-lg">Cancelar</button>
        {% endbuttons %}
    </form>
{% endblock %}