{% load static %}
      <nav class="navbar navbar-dark bg-dark-primary">
        <div class="container">
                <p>Hola <strong>{{user_type}} {{name}}</strong> | <a href="{% url 'auth:login' %}"><i class="fas fa-sign-out-alt"></i> Logout </a></p>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



  <div class="collapse navbar-collapse" id="menu">
      <img class="mb-4" src="{% static 'images/inventory2.PNG' %}" alt="10" width="32" height="32">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventories:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventories:display_desktop' %}">Desktop</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventories:display_laptop' %}">Laptop</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventories:display_mobile' %}">Mobile</a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventories:display_user' %}">User</a>
      </li>

    </ul>

  </div>
  </div>
</nav>
